<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>       
            <p>Welcome, #{loginBean.uname} </p>
            <p>Session , #{session}</p>
            
        <p:commandButton action="#{loginBean.logout}" value="Logout"  ajax="false"></p:commandButton>
    </h:form>
    </h:body>
</html>