<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h:form id="loginForm">          
            <p:growl id="msg" showDetail="true" life="3000" />
            <p:panel header="Login" style="width: 360px;">
 
                <h:panelGrid id="loginPanel" columns="2">
 
                    <h:outputText value="Username" />
 
                    <p:inputText id="username" value="#{loginBean.uname}" maxlength="10" onclick="javascript:this.value=''" ></p:inputText>
 
                    <p:spacer></p:spacer>
 
                    <p:message for="username" ></p:message>
 
                    <h:outputText value="Password" />
 
                    <p:password id="password" value="#{loginBean.password}"  feedback="false"></p:password>
 
                    <p:spacer></p:spacer>
 
                    <p:message for="password"></p:message>
 
                    <p:spacer></p:spacer>
 
                    <p:commandButton action="#{loginBean.loginProject}" value="Login" update="loginForm" ajax="true" ></p:commandButton>
                    
                    <p:spacer></p:spacer>
                    
                    <p:commandButton action="#{loginBean.signProject()}"  value="Sign"> </p:commandButton>
                  
                </h:panelGrid>
 
            </p:panel>
 
        </h:form>
 
    </h:body> 
 
</html>
