<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Sign Page</title>
    </h:head>
    <h:body>
        <h:form id="SignPage">
            <p:growl id="mss" showDetail="true" life="3000">
                     <p:panel header="Sign" style="width: 360px;">
                    
                        <h:panelGrid id="signPanel" columns="2">
 
                    <h:outputText value="Username" />
 
                    <p:inputText id="username" value="#{loginBean.uname}" maxlength="10" onclick="javascript:this.value=''" ></p:inputText>
 
                    <p:spacer></p:spacer>
 
                    <p:message for="username" ></p:message>
 
                    <h:outputText value="Password" />
 
                    <p:inputText id="password" value="#{loginBean.password}"  ></p:inputText>
 
                    <p:spacer></p:spacer>
 
                    <p:message for="password"></p:message>
 
                    <p:spacer></p:spacer>
 
                    <p:commandButton action="#{loginBean.sign()}" value="Sign" ></p:commandButton>
                    
                    <p:spacer></p:spacer>
                    
                 
                </h:panelGrid> 
                         
                    
                         
                         
                         
                </p:panel>  
            </p:growl>         
        </h:form>
    </h:body>
</html>

